        body {
            margin: 0;
            padding: 0;
            height: 97vh;
            background-color: #F2A1B3;
            border: 20px solid #C2185B;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Allura", cursive;
            color: #880E4F;
            animation: disco 1s infinite;
        }

        .card {
            text-align: center;
            animation: pop 0.8s ease;
        }

        h1 {
            font-size: 64px;
            margin-bottom: 20px;
        }

        p {
            font-size: 48px;
            max-width: 600px;
            margin: auto;
        }

        .hearts {
            margin-top: 30px;
            font-size: 40px;
            animation: float 2s infinite ease-in-out;
        }

        img {
            margin-top: 30px;
            width: 420px;
        }

        @keyframes pop {
            0% {
                transform: scale(0.6);
                opacity: 0;
            }

            100% {
                transform: scale(1);
                opacity: 1;
            }
        }

        @keyframes float {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-15px);
            }

            100% {
                transform: translateY(0);
            }
        }

        @keyframes disco {
            0% {
                background-color: #F4A7B9;
            }

            10% {
                background-color: #E8B4BC;
            }

            20% {
                background-color: #FFC1A1;
            }

            30% {
                background-color: #FFF6EC;
            }

            40% {
                background-color: #FFD1DC
            }

            50% {
                background-color: #FFB7CE;
            }

            60% {
                background-color: #F48FB1;
            }

            70% {
                background-color: #F6D7A7;
            }

            80% {
                background-color: #D8D8D8;
            }

            90% {
                background-color: #FAFAFA;
            }

            100% {
                background-color: #F4A7B9;
            }
        }